<div id="learn-div">
    <div style="min-height: 50px;"></div>
    <h1>
        Hiragana Chart
    </h1>
    <p>
        click on the kana to see the stroke order
    </p>
    <div id="hiragana-div">
        <div id="hiragana-grid-first">
        </div>
        <div id="hiragana-preview">
            <img id="hiragana-preview-img" />
        </div>
        <div id="hiragana-grid-second"></div>
    </div>
    <div style="min-height: 150px;"></div>

    <h1>
        Katakana Chart
    </h1>
    <p>
        click on the kana to see the stroke order
    </p>
    <div id="katakana-div">
        <div id="katakana-grid-first">
        </div>
        <div id="katakana-preview">
            <img id="katakana-preview-img"/>
        </div>
        <div id="katakana-grid-second"></div>
    </div>
    <div style="min-height: 150px;"></div>
</div>
